* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background: var(--mainBackground);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

.sr-only {
  width: 0;
  height: 0;
  overflow: hidden;
}
