---
import "../styles/index.css";
import CalcHeader from "../components/CalcHeader.astro";
import CalcDisplay from "../components/CalcDisplay.astro";
import CalcButtons from "../components/CalcButtons.astro";

const pageTitle = "Calculator app";
const metaDescription =
	"Our simple calculator is designed to make your everyday calculations a breeze. With its straightforward interface and basic functions, it provides the essential tools you need for quick math operations. ";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={metaDescription} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1 class="sr-only">{pageTitle}</h1>
		<main>
			<CalcHeader />
			<CalcDisplay />
			<CalcButtons />
		</main>
	</body>
</html>
