---
import "../styles/index.css";
import CalcHeader from "../components/CalcHeader.astro";
import CalcDisplay from "../components/CalcDisplay.astro";
import CalcButtons from "../components/CalcButtons.astro";

const pageTitle = "Calculator app";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap"
			rel="stylesheet"
		/>
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1 class="sr-only">{pageTitle}</h1>
		<main>
			<CalcHeader />
			<CalcDisplay />
			<CalcButtons />
		</main>
	</body>
</html>
