/* MAIN THEME */
:root {
  --mainBackground: #3a4764;
  --toggleBackgroundKeypadBackground: #232c43;
  --screenBackground: #182034;
  --keyBackground: #637097;
  --keyShadow: #404e72;
  --keyBackgroundToggle: #d03f2f;
  --keyShadow2: #93261a;
  --keyBackground2: #eae3dc;
  --keyShadow3: #b4a597;
  --grayish: #444b5a;
  --text1: #ffffff;
  --text2: #1b2428;
  --text3: #ffffff;
  --btnKey: #404652;
  --hoverKey: #fff;
  --hoverKeyBorder: #cfc4b5;
  --equal: #fff;
  --equalHover: #ff7361;
  --hoverDelReset: #98a6cf;
}

/* SECOND THEME */
.theme-2 {
  --mainBackground: #e6e6e6;
  --toggleBackgroundKeypadBackground: #d1cccc;
  --screenBackground: #ededed;
  --keyBackground: #377f86;
  --keyShadow: #1b5f65;
  --keyBackgroundToggle: #ca5502;
  --keyShadow2: #893901;
  --keyBackground2: #e5e4e1;
  --keyShadow3: #a69d91;
  --grayish: #35352c;
  --text1: #ffffff;
  --text2: #1b2428;
  --text3: #1b2428;
  --btnKey: #424237;
  --equal: #fff;
  --hoverKeyBorder: #cfc4b5;
  --hoverKey: #fff;
  --hoverDelReset: #6ab6be;
  --equalHover: #ff8932;
}

/* THIRD THEME */
.theme-3 {
  --mainBackground: #160628;
  --toggleBackgroundKeypadBackground: #210f35;
  --screenBackground: #210f35;
  --keyBackground: #58077d;
  --keyShadow: #bc15f4;
  --keyBackgroundToggle: #00e0d1;
  --keyShadow2: #6cf9f2;
  --keyBackground2: #341c4f;
  --keyShadow3: #871c9c;
  --grayish: #35352c;
  --text1: #ffffff;
  --text2: #ffe53d;
  --text3: #ffe53d;
  --btnKey: #ffff4c;
  --equal: #222d32;
  --hoverKeyBorder: #a923c3;
  --hoverKey: #664d83;
  --hoverDelReset: #8d37b4;
  --equalHover: #59dbd3;
}
