<header>
    <span>calc</span>
    <p>theme</p>
    <div class="theme-switch-container">
        <div class="theme-switch">
            <div class="switch-numbers">
                <label for="theme-1">1</label>
                <label for="theme-2">2</label>
                <label for="theme-3">3</label>
            </div>
            <div class="switch-btns">
                <div class="input-container">
                    <input type="checkbox" id="theme-1" class="theme-btn theme-1 active" />
                    <input type="checkbox" id="theme-2" class="theme-btn theme-2" />
                    <input type="checkbox" id="theme-3" class="theme-btn theme-3" />
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    const themeButtons = document.querySelectorAll(".theme-btn");

    function setTheme(theme) {
        document.body.className = theme;
        themeButtons.forEach((button) => {
            button.classList.toggle("active", button.classList.contains(theme));
        });
    }

    function handleButtonClick(event) {
        const theme = event.currentTarget.classList[1];
        setTheme(theme);
    }

    themeButtons.forEach((button) => {
        button.addEventListener("click", handleButtonClick);
    });
</script>
