---
---

<header>
    <a href="#">calc</a>
    <p>theme</p>
    <div class="theme-switch-container">
        <div class="theme-switch">
            <div class="switch-numbers">
                <span>1</span>
                <span>2</span>
                <span>3</span>
            </div>
            <div class="switch-btns">
                <div class="input-container">
                    <input type="checkbox" class="theme-btn theme-1 active" />
                    <input type="checkbox" class="theme-btn theme-2" />
                    <input type="checkbox" class="theme-btn theme-3" />
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    const themeButtons = document.querySelectorAll(".theme-btn");

    function setTheme(theme) {
        document.body.className = theme;
        themeButtons.forEach((button) => {
            button.classList.toggle("active", button.classList.contains(theme));
        });
    }

    function handleButtonClick(event) {
        const theme = event.currentTarget.classList[1];
        setTheme(theme);
    }

    themeButtons.forEach((button) => {
        button.addEventListener("click", handleButtonClick);
    });
</script>
